body {
  background-color: #EBF0F1;
  margin: 0;
}
.root {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}
.blockMenu {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #E2E6E7;
  box-shadow: 0px 10px 10px #cbd0d1;
}
.container > .wheel {
  overflow: hidden;
  width: 210px;
  height: 200px;
}
.container > .lastWin {
  width: 210px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.container > .wheel >.wheels {
  width: 350px;
  margin-top: 10px;
  margin-left: -70px;
  transition: 5s;
}
.container > .wheelTimer {
  text-align: center;
}
.footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  left: 5%;
  width: 90%;
  height: 6%;
  border-radius: 20px;
  background-color: #3398DA;
}
.footer > * {
  margin: auto 0;
}
.blockWin {
  width: 40px;
  height: 40px;
  margin: auto 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #6E7071;
}
.black {
  background-color: #1B2227;
}
.red {
  background-color: #F71446;
}
.yellow {
  background-color: #FFEA4C;
}
.green {
  background-color: #61E140;
}
